<div id="landing-page" class="landing-page">
  <div>
    <uib-zone id="template-001-landing-page-hero">
      <ng-template uib-template="text" let-config>
        <div>{{config.content}}</div>
      </ng-template>
      <ng-template uib-template="image" let-config>
        <img width="300" src="{{config.src}}" alt="landing page" />
      </ng-template>
    </uib-zone>
  </div>
  <div>
    <ul>
      <li>Feature 1</li>
      <li>Feature 2</li>
      <li>Feature 3</li>
      <li>Feature 4</li>
    </ul>
  </div>
</div>
