<div class="flex flex-column">
  <div id="header">
      <div class="py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static"
           [ngStyle]="{ 'min-height': '80px', 'background-color': siteColor }">
        <!-- Logo -->
        <uib-zone id="header-logo">
          <ng-template uib-template="image" let-config>
            <img [src]="config?.src" alt="logo" height="40" class="mr-0 lg:mr-6">
          </ng-template>
        </uib-zone>

        <a pRipple pStyleClass="@next" enterClass="hidden" leaveToClass="hidden" class="pRipple p-element cursor-pointer block lg:hidden"
           [ngStyle]="{'color': '#ffffff'}">
          <i class="pi pi-bars text-4xl"></i><span class="p-ink" style="height: 34px; width: 34px; top: -4.25px; left: -4px;"></span>
        </a>

        <div class="align-items-center flex-grow-1 justify-content-end lg:flex hidden absolute pt-3 lg:static w-full left-0 top-100 z-1 shadow-2 lg:shadow-none lg:gap-2"
             [ngStyle]="{ 'background-color': siteColor }">
          <ul class="list-none p-0 m-0  flex lg:align-items-center select-none flex-column lg:flex-row">
            <!-- Links -->
            <uib-zone id="header-links">
              <ng-template uib-template="link" let-config>
                <li><a pRipple (click)="navigateTo(config?.href)" class="pRipple p-element px-6 p-3 lg:px-3 lg:py-2 align-items-center no-underline hover:underline font-medium border-round cursor-pointer transition-colors transition-duration-150"
                       [ngStyle]="{ 'color': config?.color }">

                  <span>{{config?.label}}</span><span class="p-ink"></span></a>
                </li>
              </ng-template>
            </uib-zone>
          </ul>
          <div class="flex justify-content-around lg:block border-top-1 px-2 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">

            <uib-zone id="header-buttons">
              <ng-template uib-template="button-filled" let-config>
                <button pButton pRipple label="{{config?.label}}" class="p-element p-ripple font-bold p-button p-component"
                        [ngStyle]="{'background-color': config?.backgroundColor,'color': config?.color,'border': 'none'}"><span class="p-ink"></span></button>
              </ng-template>
              <ng-template uib-template="button-outlined" let-config>
                <button pButton pRipple label="{{config?.label}}" class="p-element p-ripple p-button-outlined font-bold p-button p-component"
                        [ngStyle]="{'color': config?.color}"></button>
              </ng-template>
            </uib-zone>


          </div>
        </div>
      </div>
    </div>

  <ng-container *ngIf="pageIdentifier === 'prisma-01-landing'">
    <prisma-01-landing></prisma-01-landing>
  </ng-container>

  <ng-container *ngIf="pageIdentifier === 'prisma-01-about-us'">
   <prisma-01-about-us></prisma-01-about-us>
  </ng-container>

  <ng-container *ngIf="pageIdentifier === 'prisma-01-contact-us'">
    <prisma-01-contact-us></prisma-01-contact-us>
  </ng-container>

  <div id="footer">
    <div class="flex flex-column py-6 w-75 m-auto">
      <div class="grid">
        <div class="col-12 lg:col-6 lg:flex lg:justify-content-between">
          <!-- Logo -->
          <uib-zone id="footer-logo">
            <ng-template uib-template="image" let-config>
              <img [src]="config?.src" alt="logo" height="40" class="mr-0 lg:mr-6">
            </ng-template>
          </uib-zone>
          <div class="my-4 lg:my-0">
            <uib-zone id="footer-custom-text">
              <ng-template uib-template="text" let-config>
                <span  [ngStyle]="{ 'color': config?.color }">{{config?.content}}</span>
              </ng-template>
            </uib-zone>

          </div>
        </div>
        <div class="col-12  lg:col-offset-2 lg:col-4 lg:flex lg:justify-content-between align-items-center">
          <div class="flex justify-content-around gap-2 lg:gap-4 mb-4 lg:mb-0">
            <uib-zone id="footer-social-links">
              <ng-template uib-template="social-link" let-config>
                <a href="{{config?.url}}">
                  <img height="15" [src]="config?.icon" alt="social link">
                </a>
              </ng-template>
            </uib-zone>
          </div>
          <div class="lg:flex lg:gap-3">
            <uib-zone id="footer-navigation-links">
              <ng-template uib-template="link" let-config>
               <div><a class="cursor-pointer hover:underline mt-2 lg:mt-0" (click)="navigateTo(config?.href)">{{config?.label}}</a></div>
              </ng-template>
            </uib-zone>

          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="grid lg:flex lg:justify-content-between mt-3">
        <div>
          <span>Copyright © {{currentYear}} Gebeya</span>
        </div>
        <div class="mt-4 lg:mt-0">
          <div>
            <uib-zone id="footer-legal-links">
              <ng-template uib-template="link" let-config>
                <a class="cursor-pointer hover:underline" (click)="navigateTo(config?.href)">{{config?.label}}</a>
              </ng-template>
              <ng-template uib-template="vertical-separator">
                <span class="mx-2">|</span>
              </ng-template>
            </uib-zone>
<!--            <a class="cursor-pointer hover:underline">All Rights Reserved </a>-->
<!--            |-->
<!--            <a class="cursor-pointer hover:underline">Terms and Conditions</a>-->
<!--            |-->
<!--            <a class="cursor-pointer hover:underline">Privacy Policy</a>-->
          </div>
        </div>
      </div>


    </div>

  </div>

    <div class="uib-bootstrap">

      <uib-toolbar>
        <uib-toolbar>
          <button i18n type="button" class="btn btn-warning" uib-tooltip="Download Configuration as JSON" (click)="configService.exportConfiguration()">
            Download
          </button>
<!--          <button i18n type="button" class="btn btn-success" uib-tooltip="Save Configuration" (click)="save()">-->
<!--            Save-->
<!--          </button>-->
        </uib-toolbar>
      </uib-toolbar>

      <uib-configurator>

        <ng-template uib-template="image" let-context>
          <label i18n class="form-label" for="src"> URL:</label>
          <input class="form-control" id="src"
                 type="text"
                 [(ngModel)]="context.config.src"
                 (ngModelChangeDebounced)="context.configChanged()"
          />
        </ng-template>

        <ng-template uib-template="link" let-context>
          <label i18n class="form-label" for="label"> Label:</label>
          <input class="form-control" id="label"
                 type="text"
                 [(ngModel)]="context.config.label"
                 (ngModelChangeDebounced)="context.configChanged()"
          />
          <label i18n class="form-label" > Color:</label>
          <input class="form-control"
                 type="color"
                 [(ngModel)]="context.config.color"
                 (ngModelChangeDebounced)="context.configChanged()"
          />
          <label i18n class="form-label" for="href"> URL:</label>
          <input class="form-control" id="href"
                 type="text"
                 [(ngModel)]="context.config.href"
                 (ngModelChangeDebounced)="context.configChanged()"
          />
        </ng-template>


        <ng-template uib-template="button-filled" let-context>
          <label i18n class="form-label"> Label:</label>
          <input class="form-control"
                 type="text"
                 [(ngModel)]="context.config.label"
                 (ngModelChangeDebounced)="context.configChanged()"
          />
          <label i18n class="form-label" > Color:</label>
          <input class="form-control"
                 type="color"
                 [(ngModel)]="context.config.color"
                 (ngModelChangeDebounced)="context.configChanged()"
          />
          <label i18n class="form-label" for="backgroundColor"> Background Color:</label>
          <input class="form-control" id="backgroundColor"
                 type="color"
                 [(ngModel)]="context.config.backgroundColor"
                 (ngModelChangeDebounced)="context.configChanged()"
          />
        </ng-template>


        <ng-template uib-template="button-outlined" let-context>
          <label i18n class="form-label"> Label:</label>
          <input class="form-control"
                 type="text"
                 [(ngModel)]="context.config.label"
                 (ngModelChangeDebounced)="context.configChanged()"
          />
          <label i18n class="form-label"> Color:</label>
          <input class="form-control"
                 type="color"
                 [(ngModel)]="context.config.color"
                 (ngModelChangeDebounced)="context.configChanged()"
          />
        </ng-template>

        <ng-template uib-template="primary-heading" let-context>
          <label i18n class="form-label" for="text"> Content:</label>
          <input class="form-control" id="text"
                 type="text"
                 [(ngModel)]="context.config.text"
                 (ngModelChangeDebounced)="context.configChanged()"/>
          <label i18n class="form-label"> Color:</label>
          <input class="form-control"
                 type="color"
                 [(ngModel)]="context.config.color"
                 (ngModelChangeDebounced)="context.configChanged()"/>
        </ng-template>

        <ng-template uib-template="secondary-heading" let-context>
          <label i18n class="form-label"> Content:</label>
          <input class="form-control"
                 type="text"
                 [(ngModel)]="context.config.text"
                 (ngModelChangeDebounced)="context.configChanged()"/>
          <label i18n class="form-label"> Color:</label>
          <input class="form-control"
                 type="color"
                 [(ngModel)]="context.config.color"
                 (ngModelChangeDebounced)="context.configChanged()"/>
        </ng-template>

        <ng-template uib-template="paragraph" let-context>
          <label i18n class="form-label"> Content:</label>
          <textarea class="form-control"
                    type="text"
                    [(ngModel)]="context.config.text"
                    (ngModelChangeDebounced)="context.configChanged()">
          </textarea>
          <label i18n class="form-label"> Color:</label>
          <input class="form-control"
                 type="color"
                 [(ngModel)]="context.config.color"
                 (ngModelChangeDebounced)="context.configChanged()"/>
        </ng-template>

        <ng-template uib-template="text" let-context>
          <label i18n class="form-label"> Content:</label>
          <textarea class="form-control"
                    type="text"
                    [(ngModel)]="context.config.content"
                    (ngModelChangeDebounced)="context.configChanged()">
          </textarea>
          <label i18n class="form-label"> Color:</label>
          <input class="form-control"
                 type="color"
                 [(ngModel)]="context.config.color"
                 (ngModelChangeDebounced)="context.configChanged()"/>
        </ng-template>

        <ng-template uib-template="social-link" let-context>
          <label i18n class="form-label"> Icon:</label>
          <textarea class="form-control"
                    type="text"
                    [(ngModel)]="context.config.icon"
                    (ngModelChangeDebounced)="context.configChanged()">
          </textarea>
          <label i18n class="form-label"> Link:</label>
          <input class="form-control"
                 type="text"
                 [(ngModel)]="context.config.url"
                 (ngModelChangeDebounced)="context.configChanged()"/>
        </ng-template>

      </uib-configurator>
    </div>
</div>
