<div id="header" class="header" style="background-color: green">
  <div>This is template-002 the header</div>
</div>

<ng-container *ngIf="pageIdentifier === 'template-002-landing'">
  <app-template-002-landing ></app-template-002-landing>
</ng-container>

<ng-container *ngIf="pageIdentifier === 'template-002-about-us'">
  <app-template-002-about-us></app-template-002-about-us>
</ng-container>

<ng-container *ngIf="pageIdentifier === 'template-002-contact-us'">
  <app-template-002-contact-us></app-template-002-contact-us>
</ng-container>

<div id="footer" class="footer" style="background-color: green">
  <div>This is template-002 footer </div>
</div>

